{%- macro render(package) -%}
    {%- if package is none -%}
        Docs
    {%- else -%}
        {% set type, args = package.get_documentation() %}
        {% if type is none %}
            <!-- No documentation found for '{{ package.info.name }}'. -->
        {% elif type == "readthedocs" %}
        <a href="//{{ package.name }}.readthedocs.io">
                <img src="//readthedocs.io/projects/{{ package.name.lower() }}/badge" alt="Documentation">
            </a>
        {% else %}
            <a href="{{ package.info.docs_url }}">
                <img src="//img.shields.io/badge/docs-latest-brightgreen.svg" alt="Documentation">
            </a>
        {% endif %}
    {%- endif -%}
{%- endmacro -%}
