{% import 'linecharts.html' as linecharts %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pypi statistics</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        {{ linecharts.plot(packages.values()) }}

        {% from "column.html" import render as render_column %}
        <table>
            <thead><tr>
                {% for column in columns -%}
                <td>{{ render_column(column, none) }}</td>
                {%- endfor %}
            </tr></thead>
            <tbody>
            {% for package in packages|sort -%}
                <tr bgcolor="{{ package |color(0.1, 0.8) }}">
                    {% for column in columns -%}
                    <td>
                        {{ render_column(column, packages[package]) }}
                    </td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
            </tbody>
        </table>

        {% for package in packages|sort %}
            {{ linecharts.plot([packages[package]]) }}
        {% endfor %}
    </body>
</html>
